.passwordRecovery {
    position: relative;
    &__passwordRecovery-main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100vh;
    }
    &__logo {
        margin: 0px 0px 26px 0px;
    }
}

.recoveryInfo {
    &__recovery {
        font-size: 16px;
        line-height: 20px;
        color: #2D3748;
        margin: 0px 0px 2px 0px;
    }
    &__write {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        color: #1A202C;
        margin: 0px 0px 30px 0px;
    }
}

.input-email {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $color-black;
    margin: 0px 0px 6px 0px;
}

.email {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: $color-black;
    border-bottom: 1px solid #F2F0FE;
    padding: 6px 6px 6px 2px;
    margin: 0px 0px 30px 0px;
}

.email::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.email::-ms-clear {
    display: none;
}

.email::-moz-placeholder {
    color: transparent;
}

.code-button {
    padding: 8px;
    margin: 0px 0px 18px 0px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: white;
    background: #04C45C;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #1DBF73;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    &:hover {
        background: #0cb65b;
    }
}

.idea {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #616161;
}

.goLogIn {
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    color: orange;
    &::after {
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        background-color: orange;
        -webkit-transition: width 0.4s ease-in-out;
        -o-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    &:hover::after,
    a:focus:after {
        width: 100%;
    }
}

.imgForRecovery {
    height: 700px;
}